body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding: 15px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.user-image:hover {
  transform: scale(1.1);
}




.navbar .logo {
  font-size: 1.5rem;
  color: #fff;
  margin-right: 950px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.like-button {
  background-color: #fb707b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.like-button:hover {
  transform: scale(1.1);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  animation: fadeIn 0.5s;
}

.modal-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.modal:hover .modal-image {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
